[Unit]
Description=Nfancurve service
After=graphical-session.target
Requires=graphical-session.target

[Service]
ExecStartPre=/bin/sleep 5
ExecStart=/bin/bash /home/merlin/git/github/nfancurve/temp.sh -c /home/merlin/git/github/nfancurve/config
KillSignal=SIGINT

[Install]
WantedBy=graphical-session.target
