[Unit]
Description=Nfancurve service
After=default.target
#After=graphical-session.target
#Requires=graphical-session.target

[Service]
ExecStartPre=/bin/sleep 5
ExecStart=/bin/bash /home/merlin/git/github/nfancurve/temp.sh -c /home/merlin/git/github/nfancurve/config
KillSignal=SIGINT
#Restart=always

[Install]
WantedBy=default.target
#WantedBy=graphical-session.target
